/* Author: Alexander Grönlund EEDAT2 */

body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
}

/* .navbar {
  color: black;
  text-align: right;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
} */

.vertical-menu {
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
  text-align: right;
}

.vertical-menu li {
  display: block;
}

.vertical-menu li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical-menu li a:hover {
  background-color: #ddd;
}

.vertical-menu li a:active {
  background-color: #991010;
}
 
.nav__link:before {
  content: "";
  position: absolute;
  height: 2px;
  background: #3e3e3e;
  left: 16px;
  right: 16px;
  bottom: 8px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s cubic-bezier(.27,0,0,1);
}

.top {
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  width: 60%;
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
}

.vertical-menu {
  width: 2;
}

ul {
  list-style: none;https://www.youtube.com/watch?v=ycDUU1n2iEE
  margin-top: 50px;
}

.sticky {
  position: fixed;
}

.hero_headline {
  opacity: 1;
  font-size: xx-large;
  margin-left: 300px;
}

.main_content_container {
  margin: 100px;
  padding: 20px;
  padding-top: 20px;
  height: 800px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}

#myBtn {
  cursor: pointer;
  border-color: black;
  border-radius: 8px;
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
  z-index: 99;
  padding: 15px;
  right: 500px;
  bottom: 500px;
}

#myBtn:hover {
  background-color: rgb(148, 147, 147);
}